In [42]:
!pip install geopy

Collecting geopy
  Downloading geopy-2.2.0-py3-none-any.whl (118 kB)
     |████████████████████████████████| 118 kB 2.3 MB/s eta 0:00:01
Collecting geographiclib<2,>=1.49
  Downloading geographiclib-1.52-py3-none-any.whl (38 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.52 geopy-2.2.0

In [66]:
# Dependencies
import pandas as pd
from geopy import distance
from ast import literal_eval

In [2]:
# Store filepath in a variable
file_one = "202206-citbike-tripdata.csv"

In [3]:
# Read our Data file with the pandas library
file_one_df = pd.read_csv(file_one)

/Users/jesse/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
file_sample = file_one_df.sample(10000)

In [5]:
file_sample = file_sample.dropna()

In [6]:
file_sample.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
1838111,8FEB4DE2D156C46A,classic_bike,2022-06-13 00:46:27,2022-06-13 00:54:52,Willoughby Ave & Wyckoff Ave,5010.02,Suydam St & Broadway,4689.03,40.705614,-73.921530,40.695440,-73.932230,member
1842382,E1F0CF079A72F26B,classic_bike,2022-06-21 08:30:39,2022-06-21 08:36:53,Kent Ave & N 7 St,5489.03,Kent Ave & Division Ave,5021.05,40.720368,-73.961651,40.706564,-73.968319,member
3264725,2B08D180DE2B6C71,electric_bike,2022-06-02 08:19:40,2022-06-02 08:24:52,King St & Varick St,5687.11,Christopher St & Greenwich St,5847.01,40.727897,-74.005363,40.732916,-74.007114,member
1602624,E2CBEFD60A6A6DEF,classic_bike,2022-06-26 20:31:33,2022-06-26 21:01:24,West St & Chambers St,5329.03,Orchard St & Grand St,5343.11,40.717816,-74.013085,40.717318,-73.990678,member
1236622,73EBAD5A1AC9B8B8,classic_bike,2022-06-10 09:59:30,2022-06-10 10:07:41,Clinton St & 4 Place,4119.04,Carroll St & Smith St,4225.14,40.678356,-74.000145,40.680611,-73.994758,member

In [60]:
def pretty_coords_start (row):
    coord = '(' + str(row['start_lat']) + ',' + str(row['start_lng']) + ')'
    return coord

def pretty_coords_end (row):
    coord = '(' + str(row['end_lat']) + ',' + str(row['end_lng']) + ')'
    return coord

In [71]:
def coords_distance (row):
    
    coord = distance.distance(literal_eval(row['start_loc_pretty']),literal_eval(row['end_loc_pretty'])).miles
    return coord

In [72]:
file_sample.apply (lambda row: coords_distance(row), axis=1)

1838111    0.899215
1842382    1.014816
3264725    0.358282
1602624    1.176922
1236622    0.322924
             ...
1167568    2.009607
2413359    3.366945
3009689    2.451664
3334073    1.176086
3322189    0.273905
Length: 9983, dtype: float64

In [74]:
# file_sample['start_loc_pretty'] = file_sample.apply (lambda row: pretty_coords_start(row), axis=1)


# file_sample['end_loc_pretty'] = file_sample.apply (lambda row: pretty_coords_end(row), axis=1)
# file_sample['loc_distance'] = file_sample.apply (lambda row: coords_distance(row), axis=1)

file_sample.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_loc_pretty,end_loc_pretty,loc_distance
1838111,8FEB4DE2D156C46A,classic_bike,2022-06-13 00:46:27,2022-06-13 00:54:52,Willoughby Ave & Wyckoff Ave,5010.02,Suydam St & Broadway,4689.03,40.705614,-73.921530,40.695440,-73.932230,member,"(40.705614,-73.92153)","(40.69544,-73.93223)",0.899215
1842382,E1F0CF079A72F26B,classic_bike,2022-06-21 08:30:39,2022-06-21 08:36:53,Kent Ave & N 7 St,5489.03,Kent Ave & Division Ave,5021.05,40.720368,-73.961651,40.706564,-73.968319,member,"(40.72036775298455,-73.96165072917938)","(40.706563674670925,-73.9683187007904)",1.014816
3264725,2B08D180DE2B6C71,electric_bike,2022-06-02 08:19:40,2022-06-02 08:24:52,King St & Varick St,5687.11,Christopher St & Greenwich St,5847.01,40.727897,-74.005363,40.732916,-74.007114,member,"(40.72789701409023,-74.00536268949507)","(40.73291553,-74.00711384)",0.358282
1602624,E2CBEFD60A6A6DEF,classic_bike,2022-06-26 20:31:33,2022-06-26 21:01:24,West St & Chambers St,5329.03,Orchard St & Grand St,5343.11,40.717816,-74.013085,40.717318,-73.990678,member,"(40.717815995,-74.013084888)","(40.717318403855785,-73.99067759513855)",1.176922
1236622,73EBAD5A1AC9B8B8,classic_bike,2022-06-10 09:59:30,2022-06-10 10:07:41,Clinton St & 4 Place,4119.04,Carroll St & Smith St,4225.14,40.678356,-74.000145,40.680611,-73.994758,member,"(40.6783563,-74.00014502)","(40.680611,-73.99475825)",0.322924

In [62]:
# file_sample.drop("pretty", axis=1, inplace=True)

In [75]:
# Export file as a CSV, without the Pandas index, but with the header
file_sample.to_csv("citi_bike_samples.csv", index=False, header=True)

,start_lat,start_lng,end_lat,end_lng,loc_distance
start_station_name,,,,,
1 Ave & E 110 St,40.792338,-73.938263,40.796664,-73.941617,0.496494
1 Ave & E 16 St,40.732226,-73.981651,40.737995,-73.985047,0.951001
1 Ave & E 18 St,40.733812,-73.980544,40.734377,-73.986349,0.875499
1 Ave & E 30 St,40.741465,-73.975347,40.746283,-73.981227,0.973344
1 Ave & E 39 St,40.747140,-73.971130,40.753043,-73.967672,1.364845
...,...,...,...,...,...
Wyckoff Av & Stanhope St,40.703545,-73.917775,40.707930,-73.910920,0.470239
Wyckoff Ave & Gates Ave,40.699854,-73.911642,40.700478,-73.925336,1.050220
Wyckoff St & Nevins St,40.683426,-73.984275,40.684036,-73.999015,1.117626
Wythe Ave & Metropolitan Ave,40.716894,-73.963192,40.701919,-73.966897,1.592493
Yankee Ferry Terminal,40.687066,-74.016756,40.686971,-74.020740,0.298119

In [91]:
#lets create grouped by station version for cool charting
file_sample_grouped_station = file_sample.groupby(['start_station_name']).mean()
# file_sample_grouped_station = file_sample_grouped_station[['loc_distance']]
file_sample_grouped_station

,start_lat,start_lng,end_lat,end_lng,loc_distance
start_station_name,,,,,
1 Ave & E 110 St,40.792338,-73.938263,40.796664,-73.941617,0.496494
1 Ave & E 16 St,40.732226,-73.981651,40.737995,-73.985047,0.951001
1 Ave & E 18 St,40.733812,-73.980544,40.734377,-73.986349,0.875499
1 Ave & E 30 St,40.741465,-73.975347,40.746283,-73.981227,0.973344
1 Ave & E 39 St,40.747140,-73.971130,40.753043,-73.967672,1.364845
...,...,...,...,...,...
Wyckoff Av & Stanhope St,40.703545,-73.917775,40.707930,-73.910920,0.470239
Wyckoff Ave & Gates Ave,40.699854,-73.911642,40.700478,-73.925336,1.050220
Wyckoff St & Nevins St,40.683426,-73.984275,40.684036,-73.999015,1.117626
Wythe Ave & Metropolitan Ave,40.716894,-73.963192,40.701919,-73.966897,1.592493
Yankee Ferry Terminal,40.687066,-74.016756,40.686971,-74.020740,0.298119

In [92]:
file_sample_grouped_station_sum = file_sample.groupby(['start_station_name']).sum()
file_sample_grouped_station_sum = file_sample_grouped_station_sum[['loc_distance']]
file_sample_grouped_station_sum

                              loc_distance
start_station_name
1 Ave & E 110 St                  2.978965
1 Ave & E 16 St                  23.775020
1 Ave & E 18 St                  17.509982
1 Ave & E 30 St                  12.653478
1 Ave & E 39 St                  25.932047
...                                    ...
Wyckoff Av & Stanhope St          0.470239
Wyckoff Ave & Gates Ave           8.401756
Wyckoff St & Nevins St            2.235252
Wythe Ave & Metropolitan Ave     36.627342
Yankee Ferry Terminal             1.788714

[1302 rows x 1 columns]

In [93]:
#get a count
file_sample_count = file_sample.groupby(['start_station_name']).count()
file_sample_count = file_sample_count['ride_id']
file_sample_count.columns = ['count']
file_sample_count

start_station_name
1 Ave & E 110 St                 6
1 Ave & E 16 St                 25
1 Ave & E 18 St                 20
1 Ave & E 30 St                 13
1 Ave & E 39 St                 19
                                ..
Wyckoff Av & Stanhope St         1
Wyckoff Ave & Gates Ave          8
Wyckoff St & Nevins St           2
Wythe Ave & Metropolitan Ave    23
Yankee Ferry Terminal            6
Name: ride_id, Length: 1302, dtype: int64

In [94]:
#concat
file_sample_grouped_station['count'] = file_sample_count
file_sample_grouped_station

,start_lat,start_lng,end_lat,end_lng,loc_distance,count
start_station_name,,,,,,
1 Ave & E 110 St,40.792338,-73.938263,40.796664,-73.941617,0.496494,6
1 Ave & E 16 St,40.732226,-73.981651,40.737995,-73.985047,0.951001,25
1 Ave & E 18 St,40.733812,-73.980544,40.734377,-73.986349,0.875499,20
1 Ave & E 30 St,40.741465,-73.975347,40.746283,-73.981227,0.973344,13
1 Ave & E 39 St,40.747140,-73.971130,40.753043,-73.967672,1.364845,19
...,...,...,...,...,...,...
Wyckoff Av & Stanhope St,40.703545,-73.917775,40.707930,-73.910920,0.470239,1
Wyckoff Ave & Gates Ave,40.699854,-73.911642,40.700478,-73.925336,1.050220,8
Wyckoff St & Nevins St,40.683426,-73.984275,40.684036,-73.999015,1.117626,2
Wythe Ave & Metropolitan Ave,40.716894,-73.963192,40.701919,-73.966897,1.592493,23
Yankee Ferry Terminal,40.687066,-74.016756,40.686971,-74.020740,0.298119,6

In [95]:
#concat
file_sample_grouped_station['sum'] = file_sample_grouped_station_sum
file_sample_grouped_station

,start_lat,start_lng,end_lat,end_lng,loc_distance,count,sum
start_station_name,,,,,,,
1 Ave & E 110 St,40.792338,-73.938263,40.796664,-73.941617,0.496494,6,2.978965
1 Ave & E 16 St,40.732226,-73.981651,40.737995,-73.985047,0.951001,25,23.775020
1 Ave & E 18 St,40.733812,-73.980544,40.734377,-73.986349,0.875499,20,17.509982
1 Ave & E 30 St,40.741465,-73.975347,40.746283,-73.981227,0.973344,13,12.653478
1 Ave & E 39 St,40.747140,-73.971130,40.753043,-73.967672,1.364845,19,25.932047
...,...,...,...,...,...,...,...
Wyckoff Av & Stanhope St,40.703545,-73.917775,40.707930,-73.910920,0.470239,1,0.470239
Wyckoff Ave & Gates Ave,40.699854,-73.911642,40.700478,-73.925336,1.050220,8,8.401756
Wyckoff St & Nevins St,40.683426,-73.984275,40.684036,-73.999015,1.117626,2,2.235252
Wythe Ave & Metropolitan Ave,40.716894,-73.963192,40.701919,-73.966897,1.592493,23,36.627342
Yankee Ferry Terminal,40.687066,-74.016756,40.686971,-74.020740,0.298119,6,1.788714

In [97]:
file_sample_grouped_station = file_sample_grouped_station.rename(columns={'loc_distance': 'distance_mean', 'count': 'ride_count',
'sum': 'distance_sum'})
file_sample_grouped_station

,start_lat,start_lng,end_lat,end_lng,distance_mean,ride_count,distance_sum
start_station_name,,,,,,,
1 Ave & E 110 St,40.792338,-73.938263,40.796664,-73.941617,0.496494,6,2.978965
1 Ave & E 16 St,40.732226,-73.981651,40.737995,-73.985047,0.951001,25,23.775020
1 Ave & E 18 St,40.733812,-73.980544,40.734377,-73.986349,0.875499,20,17.509982
1 Ave & E 30 St,40.741465,-73.975347,40.746283,-73.981227,0.973344,13,12.653478
1 Ave & E 39 St,40.747140,-73.971130,40.753043,-73.967672,1.364845,19,25.932047
...,...,...,...,...,...,...,...
Wyckoff Av & Stanhope St,40.703545,-73.917775,40.707930,-73.910920,0.470239,1,0.470239
Wyckoff Ave & Gates Ave,40.699854,-73.911642,40.700478,-73.925336,1.050220,8,8.401756
Wyckoff St & Nevins St,40.683426,-73.984275,40.684036,-73.999015,1.117626,2,2.235252
Wythe Ave & Metropolitan Ave,40.716894,-73.963192,40.701919,-73.966897,1.592493,23,36.627342
Yankee Ferry Terminal,40.687066,-74.016756,40.686971,-74.020740,0.298119,6,1.788714

In [102]:
file_sample_grouped_station = file_sample_grouped_station.reset_index()
file_sample_grouped_station

,start_station_name,start_lat,start_lng,end_lat,end_lng,distance_mean,ride_count,distance_sum
0,1 Ave & E 110 St,40.792338,-73.938263,40.796664,-73.941617,0.496494,6,2.978965
1,1 Ave & E 16 St,40.732226,-73.981651,40.737995,-73.985047,0.951001,25,23.775020
2,1 Ave & E 18 St,40.733812,-73.980544,40.734377,-73.986349,0.875499,20,17.509982
3,1 Ave & E 30 St,40.741465,-73.975347,40.746283,-73.981227,0.973344,13,12.653478
4,1 Ave & E 39 St,40.747140,-73.971130,40.753043,-73.967672,1.364845,19,25.932047
...,...,...,...,...,...,...,...,...
1297,Wyckoff Av & Stanhope St,40.703545,-73.917775,40.707930,-73.910920,0.470239,1,0.470239
1298,Wyckoff Ave & Gates Ave,40.699854,-73.911642,40.700478,-73.925336,1.050220,8,8.401756
1299,Wyckoff St & Nevins St,40.683426,-73.984275,40.684036,-73.999015,1.117626,2,2.235252
1300,Wythe Ave & Metropolitan Ave,40.716894,-73.963192,40.701919,-73.966897,1.592493,23,36.627342
1301,Yankee Ferry Terminal,40.687066,-74.016756,40.686971,-74.020740,0.298119,6,1.788714

In [103]:
# file_sample_count = file_sample_count[['start_station_name','ride_id']]
# file_sample_count.columns = ['station', 'count']
# file_sample_count
# file_sample_count = file_sample_count.loc[:, ['start_station_name','ride_id']]
# index_new = pd.Series(range(1,length))

file_sample_grouped_station.to_csv("citi_bike_samples_grouped_station.csv", index=True, header=True)